@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #D4FB20;
  --color-secondary: #003BE2;
  --color-textColor: #242528;
  --color-pColor: #E5E6E8;
  --color-shuttleGray: #82868E;
  --color-sectionBg: #F5F5F6;

  --font-sans: var(--font-geist-sans);
  --font-poppins: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}


.ornaments .spring_left {
  position: absolute;
  top: 19%;
  left: -30px;
}
.ornaments .spring_left_middle {
  position: absolute;
  top: 48%;
  left: 18%;
}
.ornaments .ring {
  position: absolute;
  bottom: 0px;
  left: 6px;
}
.ornaments .cylinder {
  position: absolute;
  top: 22%;
  right: -110px;
}

.ornaments .triangle {
  position: absolute;
  top: 40%;
  right: 13%;
}
.ornaments .right_spring {
  position: absolute;
  bottom: 2%;
  right: -20px;
}
